.nextButton {
    background-color:#392F2D;
    width: 100%;
    height: 34px;
    border:0px;
    font-size: 1.2em;
    color: white;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 15px;
}

.activeButton {
    background-color: #AE54D8;
}