.circle {
    font-size: 20px;
    color: #444;
}

.optionItem {
    border-bottom: 1px solid #444;
    margin-bottom:  -1px;

}

.wrongAnswer {
    color: #d62c1a;
}

.corectAnswer {
    color: #00bc8c;;
}