.circle {
    font-size: 23px;
    color: #444;
    padding-right: 15px;
}

.optionItem {
    border-bottom: 1px solid #444;
    margin-bottom:  -1px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.optionItem:hover {
    background-color: #444;
    cursor: pointer;
}

.wrongAnswer {
    color: #d62c1a;
}

.correctAnswer {
    color: #00bc8c;;
}

.audioStyle {
    display: none;
}