.descriptionWrapper img {
    width: 200px;
    height: 155px;
}

.descriptionWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}

.birdName {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.textDescription {
    margin-top: 25px;
    padding-right: 20px;
}

.speciesWrappper {
    margin-bottom: 5px;
}

.descriptionWrapper audio {
    margin-top: 15px;
}

.greyLine {
    background-color: #73605B;
    width: 100%;
}

.birdNameWrapper {
    padding: 10px;
}

@media screen and (max-width: 1050px) {
    .descriptionWrapper {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        
    }
    .descriptionWrapper img {
        justify-self: center;
    }
}