.playButton {
    width: 40px;
    height: 40px;
    border: 2px solid #AE54D8;
    border-radius: 70px;
    cursor: pointer;
    
}
.audioWrapper {
    display: flex;
    align-items: center;

}

.progressLine {
    height: 5px;
    width: 195px;
    margin-left: 20px;
}
.questLine {
    width: 725px; 
}

.audioWrapper audio {
    display:none;
}
.playButton svg {
    margin: 10px;
}

.circle {
    width:18px;
    height: 18px;
    background-color:#73605B;
    border-radius: 70px;
    position: relative;
    bottom: 6px;
    right: 2px;
    cursor: pointer;
}

.timeStyle {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
}



input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    position: relative;
    top: 23px;
    left: 20px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
    height: 15px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background: #AE54D8;
    cursor: pointer;
    margin-top: -5px;
    border: 1px solid #2B2322
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: rgb(115, 96, 91);
    border-radius: 1.3px;
    border: 1px solid #2B2322
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    border: 1px solid #2B2322;
  }
  
  input[type=range]::-ms-fill-lower {
    background: #AE54D8;
    height: 15px;
  }

  input[type=range]::-ms-fill-upper {
    background: rgb(115, 96, 91);
    height: 15px;
  }




@media screen and (max-width: 1200px) {
    .questLine {
        width: 370px;
    }
}
@media screen and (max-width: 970px) {
    .questLine {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .progressLine {
        width: 391px;
    }
    .questLine {
        width: 130px !important;
    }
    
}
@media screen and (max-width: 556px) {
    .progressLine {
        width: 314px;
    }
    .questLine {
        width: 285px !important;
    }
}
@media screen and (max-width: 463px) {
    .progressLine {
        width: 178px;
    }
    .questLine {
        width: 184px !important;
    }
}